.image {
  height: 100px;
  width: 100px;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10vh;
}

.productCard {
  width: calc(25% - 1rem); /* Chia layout thành 4 cột và cách nhau 1rem */
  margin-bottom: 1rem; /* Khoảng cách giữa các dòng */
}
