.app {
  background-color: blueviolet;
  height: 100vh;
}
h1 {
  color: red;
}
.image {
  width: 100px;
  height: 150px;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productCard {
  width: 350px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
