a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
table {
  text-align: center;
}

.form {
  width: 600px;
  max-width: 100%;
  padding: 32px;
  border: 1px solid #ccc;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.form-group {
  margin-bottom: 24px;
}

Nav {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
Nav .nav-link {
  margin-right: 24px;
}
Nav .nav-link a {
  padding: 12px 24px;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}
Nav .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
Nav .nav-link.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.tc-m {
  margin-top: 100px;
}
